name: Build, push, and deploy

on: [push]

env:
  docker_image: test_image

jobs:

  build:
    name: Build Docker image
    permissions:
      id-token: "write"
      packages: "write"
    runs-on: ubuntu-latest
    outputs:
      image: "${{ steps.set-outputs.outputs.IMAGE }}"
    steps:
      - uses: actions/checkout@v6

      - name: Build Docker Image
        run: |
          docker build --tag ${docker_image} .

      - name: Test Docker Image
        run: |
          PDFMERGER_IMAGE=${docker_image} docker compose up --exit-code-from test

      - name: NAIS login
        if: ${{ github.actor != 'dependabot[bot]' }}
        uses: nais/login@v0
        id: login
        with:
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          team: teampensjon

      - name: Docker meta
        if: ${{ github.actor != 'dependabot[bot]' }}
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ steps.login.outputs.registry }}/${{ github.repository }}/${{ github.repository_owner}}
          tags: |
            type=sha,prefix={{date 'YYYY.MM.DD-HH.mm'}}-,priority=9002

      - name: Build and push
        if: ${{ github.actor != 'dependabot[bot]' }}
        id: build_push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}

      - name: Set outputs
        if: ${{ github.actor != 'dependabot[bot]' }}
        shell: bash
        id: set-outputs
        run: |
          echo "IMAGE=${{ fromJSON(steps.meta.outputs.json).tags[0] }}" >> $GITHUB_OUTPUT

  deployToProd:
    if: ${{ github.actor != 'dependabot[bot]' && github.ref == 'refs/heads/main' }}
    name: Deploy to Prod
    permissions:
      id-token: "write"
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Deploy to prod
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: nais-prod.yml
          IMAGE: "${{ needs.build.outputs.image }}"

  deployToDev:
    if: ${{ github.actor != 'dependabot[bot]' && github.ref == 'refs/heads/main' }}
    name: Deploy to dev
    permissions:
      id-token: "write"
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Deploy to dev
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: nais-dev.yml
          IMAGE: "${{ needs.build.outputs.image }}"
